.nav {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 200px;
}
